body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.right-section {
  margin: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logout {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
}
.navbar {
  height: 50px;
  background: gainsboro;
  padding: 10px 40px;
}
.wInherit {
  width: inherit !important;
}
.w100 {
  width: 100% !important;
}
.w50 {
  width: 50px !important;
}
.sidebar {
  width: 300px;
  background: sandybrown;
  height: calc(100vh - 60px);
}
.pure-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.h50 {
  height: 50px;
}

.hFull {
  height: 100vh;
}

.flexStart {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flexBetween {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexAround {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imageCenter {
  display: block;
  margin: auto;
}

.mb-10 {
  margin-bottom: 10px !important;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.bradius {
  border-radius: 5px !important;
}

.errorText {
  color: indianred;
}
